body{
    background-color: rgb(211, 209, 209);
    color: white;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: bolder;
}

nav{
    background-color: black;
}

nav .brand-logo{
    padding-left: 2%;
}

.card .card-content{
    color: black;
}

h1{
    text-align: center;
    color: black;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: bold;
}
/* .container{
    border: 3px solid red;
} */

main.login{
    /* background-color: aqua; */
}

.card{
    width: 300px;
    margin: 5px;
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
}
p{
    font-size: 30px;
}

label{
    font-size: 20px;
}

.homeText{
    text-align: center;
}

h3{
    text-align: center;
    color: black;
}