body{
    background-color: grey;
    color: white;
}

nav{
    background-color: black;
}

nav .brand-logo{
    padding-left: 2%;
}

.card .card-content{
    color: black;
}

h1{
    text-align: center;
}
.container{
    background-color: green;
    border: 3px solid red;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.card{
    width: 300px;
    margin: 5px;

}
